.top{width: 100%;height: 150px;background-color: #1296db;color: #ffffff;}
.top .tips{padding: 3%;font-size: 16px;}

.list{background-color: #ffffff;margin-bottom: 20px;}
.list:nth-last-of-type(1){margin-bottom: 80px;!important;}
.list ul li{margin-left: 15px;}
.list ul li a{display: block;width: 100%;height: 40px;line-height: 40px;padding-left:5px;font-size: 16px;vertical-align: middle}
.list ul li a span{width: 100%;height: 40px;display: flex;align-items: center}
.list ul li i {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin-right: 10px;
}
.list ul li i.trade {  background: url("../../images/icon_trade.png") no-repeat center; background-size: cover; }
.list ul li i.balance {  background: url("../../images/icon_balance.png") no-repeat center; background-size: cover; }
.list ul li i.radio {  background: url("../../images/icon_radio.png") no-repeat center; background-size: cover; }
.list ul li i.member {  background: url("../../images/icon_member.png") no-repeat center; background-size: cover; }
.list ul li + li{border-top: 1px solid #efefef}
