<div class="box_top">
    <section class="top">
        <div class="clearfix">
            <div class="fl tips">我的</div>
            <div class="fr tips">设置</div>
        </div>
    </section>
    <div class="list">
        <ul>
            <li><a href="mine"><span><i class="member"></i>蚂蚁会员</span></a></li>
        </ul>
    </div>
    <div class="list">
        <ul>
            <li><a href="mine"><span><i class="trade"></i>账单</span></a></li>
            <li><a href="mine"><span><i class="radio"></i>总资产</span></a></li>
            <li><a href="mine"><span><i class="balance"></i>余额</span></a></li>
            <li><a href="mine"><span><i class="balance_b"></i>余额宝</span></a></li>
            <li><a href="mine"><span><i class="bank_card"></i>银行卡</span></a></li>
        </ul>
    </div>
    <div class="list">
        <ul>
            <li><a href="mine"><span><i class="ant_wealth"></i>蚂蚁财富</span></a></li>
            <li><a href="mine"><span><i class="huabei"></i>花呗</span></a></li>
            <li><a href="mine"><span><i class="jiebei"></i>蚂蚁借呗</span></a></li>
            <li><a href="mine"><span><i class="wangshang"></i>网商银行</span></a></li>
            <li><a href="mine"><span><i class="radio"></i>总资产</span></a></li>
            <li><a href="mine"><span><i class="balance"></i>余额</span></a></li>
        </ul>
    </div>
</div>
<ali-footer></ali-footer>