<section class="top">
    <div class="clearfix">
        <div class="fl tips">我的</div>
        <div class="fr tips">设置</div>
    </div>
</section>
<div class="list">
    <ul>
        <li><a href="mine"><span><i class="member"></i>蚂蚁会员</span></a></li>
    </ul>
</div>
<div class="list">
    <ul>
        <li><a href="mine"><span><i class="trade"></i>账单</span></a></li>
        <li><a href="mine"><span><i class="radio"></i>总资产</span></a></li>
        <li><a href="mine"><span><i class="balance"></i>余额</span></a></li>
        <li><a href="mine"><span><i class="trade"></i>账单</span></a></li>
        <li><a href="mine"><span><i class="radio"></i>总资产</span></a></li>
        <li><a href="mine"><span><i class="balance"></i>余额</span></a></li>
    </ul>
</div>
<div class="list">
    <ul>
        <li><a href="mine"><span><i class="trade"></i>账单</span></a></li>
        <li><a href="mine"><span><i class="radio"></i>总资产</span></a></li>
        <li><a href="mine"><span><i class="balance"></i>余额</span></a></li>
        <li><a href="mine"><span><i class="trade"></i>账单</span></a></li>
        <li><a href="mine"><span><i class="radio"></i>总资产</span></a></li>
        <li><a href="mine"><span><i class="balance"></i>余额</span></a></li>
    </ul>
</div>
<ali-footer></ali-footer>