<section class="top">
    <div class="clearfix top_search">
        <div class="fl ">

        </div>
        <div class="fr">
            <span class="add">
                <img src="../../images/contact_people.png" alt="">
            </span>
            <span class="add">
                <img src="../../images/add.png" alt="">
            </span>
        </div>
    </div>
    <div class="header">
        <div class="box box1"><i></i>扫一扫</div>
        <div class="box box2"><i></i>付钱</div>
        <div class="box box3"><i></i>收钱</div>
        <div class="box box4"><i></i>卡包</div>
    </div>
</section>
<ali-footer></ali-footer>