<section class="top">
    <div class="clearfix top_search">
        <div class="fl ">

        </div>
        <div class="fr">
            <span class="add">
                <img src="../../images/contact_people.png" alt="">
            </span>
            <span class="add">
                <img src="../../images/add.png" alt="">
            </span>
        </div>
    </div>
    <div class="header">
        <div class="box box1"><i></i>扫一扫</div>
        <div class="box box2"><i></i>付钱</div>
        <div class="box box3"><i></i>收钱</div>
        <div class="box box4"><i></i>卡包</div>
    </div>
</section>
<section class="application">
    <div class="header header_app">
        <div class="box app1"><i></i>转账</div>
        <div class="box app2"><i></i>花呗</div>
        <div class="box app3"><i></i>余额宝</div>
        <div class="box app4"><i></i>芝麻信用</div>
    </div>
    <div class="header header_app">
        <div class="box app5"><i></i>城市服务</div>
        <div class="box app6"><i></i>共享单车</div>
        <div class="box app7"><i></i>我的快递</div>
        <div class="box app8"><i></i>红包</div>
    </div>
    <div class="header header_app">
        <div class="box app1"><i></i>转账</div>
        <div class="box app2"><i></i>余额宝</div>
        <div class="box app3"><i></i>余额宝</div>
        <div class="box more"><i></i>更多</div>
    </div>
</section>
<ali-footer></ali-footer>